* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
      url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* CUSTOM PROPS */

:root {
  --dark:#141414;
  --dark-grey:#1f1f1f;
  --grey:#333333;
  --green:#c4f82a;

}

/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.71428rem;
  padding-right: 1.71428rem;
  height: 100%;
  background-color: var(--dark);
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}



/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

.card {
  width: 100%;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.85714rem;
  background-color: var(--dark-grey);
  border-radius: 0.85714rem;
}

.card__info {
  margin-bottom: 1.71428rem;
}

.card__img {
  width: 6.28571rem;
  height: 6.28571rem;
  border-radius: 50%;
  margin-bottom: 1.71428rem;
}

.card__title {
  font-size: 1.71428rem;
  line-height: 150%;
  margin-bottom: 0.28571rem;
  text-transform:capitalize;
}

.card__description {
  color:var(--green);
  font-weight: 700;
  margin-bottom: 1.71428rem;
  text-transform:capitalize;
}

/* CARD LIST */

.card__list {
  max-width: 280px;
  width: 100%;
}

.card__item {
  position: relative;
  background-color: var(--grey);
  padding: 0.85714rem;
  font-weight: 700;
  cursor: pointer;
  text-transform:capitalize;
  border-radius: 0.57142rem;
  transition: background-color 0.5s ease,
              color 0.5s ease;
}

.card__item:hover {
  background-color: var(--green);
}

.card__item:hover .card__link {
  color: var(--grey);
}

.card__item:not(:last-child) {
  margin-bottom: 1.14285rem;
}

.card__link {
  color: #fff;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

@media only screen and (max-width: 400px) {
  .card {
    padding: 1.71428rem ;
  }
}